html {
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: grid;
}

.slideShow {
  background: #101010;
  color: #fff;
  position: relative;
  display: block;
  width: 90vw;
  height: 90vh;
  text-decoration: none;
  font-family: sans-serif;
  display: grid;
  place-items: center;
  padding: 5vh 5vw;
  overflow: hidden;
}

h1 {
  display: grid;
  font-size: 80px;
}

h1 span:nth-child(2) {
  letter-spacing: 58px;
}

h1 span:nth-child(3) {
  letter-spacing: 32px;
}

img {
  background: #000;
  object-fit: cover;
  width: 400px;
  height: 300x;
}


*[show]:nth-child(2) img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  margin: auto;
  display: block;
  background: #000;
}

*[show=hide]:nth-child(2) img {
  background: #000;
}

*[show=show]:nth-child(2) img {
  background: #f00;
  transform: scale(0);
  animation: grow 0.25s forwards;
  -webkit-animation: grow 0.25s forwards;
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}


*[show=show]:nth-child(2) h2 {
  line-height: 2;
  font-size: 80px;
  display: block;
  text-transform: uppercase;
  z-index: 1;
}

@keyframes redGlow {
  50% {
    text-shadow: 0 0 20vw #f00, 0 0 5vw #f00, 0 0 3vw #f00;
  }
}

.grid {
  display: grid;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}