.s13 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    div {
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
        width: 100%;
        height: 100%;
    }
    div:nth-child(1) {
        background-position: -100px center;
        background-size: 120vh;
        background-image: url('../img/container\(2\).jpg');
    }
    div:nth-child(2) {
        background-position: 750px center; 
        background-size: 450px;
        background-image: url('../img/container\(1\).jpg');
    }
}